.Management-page {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    justify-items: center;
}

.item-card {
    background-color: rgb(159, 64, 64);
    height: 320px;
    width: 250px;
    border: none;
    border-radius: 15px;
    overflow: hidden;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.item-image-container {
    height: 200px;
    width: 255px;

    overflow: auto;
    display: block;
    border-radius: 15px 15px 0 0;
}

.item-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}